.rightTable {
  padding: 10px;
}

.leftprof-heading {
  padding: 2rem 2rem 5px 2rem;
}

.leftTable {
  border-collapse: collapse;
  width: 40%;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
