.rocket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 10rem;
}

.perRocket {
  display: flex;
  gap: 5px;
  align-items: center;
}

.rocket-image {
  height: 150px;
  width: 200px;
}

.reserved {
  background-color: green;
  color: #fff;
}
