.rocket {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  width: fit-content;
}

.perRocket {
  display: flex;
  gap: 10px;
  align-items: center;
}

.rocket-des {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.75rem;
}

.rocket-image {
  height: 150px;
  width: 200px;
}

.reserved {
  background-color: green;
  color: #fff;
  padding: 0 2px;
  border-radius: 2px;
}

.reserveBtn {
  border-style: none;
  background-color: blue;
  color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  width: fit-content;
}

.cancel-book {
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  border-radius: 5px;
  margin-top: 2px;
  width: fit-content;
}
