.dragonCard {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-start;
  align-items: center;
  gap: 22px;
  padding: 10px 30px 20px 20px;
}

.dragonImage {
  width: 400px;
  border-radius: 4px;
}

.reservation {
  border-style: none;
  background-color: rgb(0, 119, 255);
  color: #fff;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 5px;
  width: fit-content;
}

.dragonItems {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.cancel {
  background-color: #fff;
  color: rgba(0, 0, 0, 0.349);
  padding: 0.5rem;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 1rem;
  width: fit-content;
}

.card {
  background-color: rgb(0, 122, 128);
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  font-size: 12px;
}