.mission-table {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 3px solid rgba(167, 160, 160, 0.312);
  text-align: left;
  max-width: 50vw;
  padding: 2rem;
}

.invisible {
  visibility: hidden;
}

tbody tr:nth-child(odd) {
  background-color: silver;
  color: black;
}

tbody tr:nth-child(even) {
  background-color: gray;
  color: aliceblue;
}

.member-btn {
  background-color: #828990;
  color: #fff;
  width: 150px;
  padding: 1px;
  margin: 50px auto;
  border-radius: 1rem;
}

.join-btn {
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 50px auto;
}

.leave-btn {
  width: 150px;
  height: 50px;
  padding: 0;
  margin: 50px auto;
  color: red;
  border: 1px solid red;
}
